<!doctype html>
<title>User Input</title>
<div class=page>
  <h1>User Input</h1>
  <div class=metanav>

    <h4>
      Please enter a stock ticker eg. GOOG, and check desired features.
    </h4>

    <form id='userinfoform' method='post' action='index' >
      <p>
    Ticker symbol: <input type='text' name='ticker' />
      </p>
        Valuations: <br />
        <input type='radio' name='valuation_selection' value='Close' checked='checked' /> Closing Price <br />
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>